.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons {
    margin: 0 auto;
}

.button__start,
.button__stop,
.button__clear {
    box-sizing: border-box;
    font-weight: 700;
    border: transparent;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    background-color: aqua;

}

.timer {
    display: flex;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    font-size: 25px;
}

.value {
    border: transparent;
    border-radius: 25px;
    background-color: rgb(253, 187, 187);
    padding: 20px;
    z-index: 1;
}

.label {
    border: transparent;
    border-radius: 25px;
    background-color: rgb(161, 255, 161);
    padding: 20px;
    z-index: 0;
}
